		
			
<article id="post-149" class="post-149 page type-page status-publish post">

	<div class="entry-main">

		
					<header class="entry-header">
													<h1 class="entry-title">Muzieklessen</h1>
							</header><!-- .entry-header -->
		
		<div class="entry-content">
			<p><img class="alignright wp-image-204 size-full" src="https://www.volksmuziekschool.com/media/2021/10/IMG_3772b.jpg" alt="" width="771" height="520" srcset="https://www.volksmuziekschool.com/media/2021/10/IMG_3772b.jpg 771w, https://www.volksmuziekschool.com/media/2021/10/IMG_3772b-360x243.jpg 360w, https://www.volksmuziekschool.com/media/2021/10/IMG_3772b-768x518.jpg 768w, https://www.volksmuziekschool.com/media/2021/10/IMG_3772b-272x182.jpg 272w" sizes="(max-width: 771px) 100vw, 771px" /></p>
<p>De volgende lessen kunnen bij de Nationale Volksmuziekschool worden gevolgd:</p>
<ul>
<li>A.M.V.</li>
<li>Basgitaar</li>
<li>Band Coaching</li>
<li>Gitaar (Licht)</li>
<li>Cello &amp; Altviool</li>
<li>Contrabas</li>
<li>Dwarsfluit</li>
<li>Harmonium</li>
<li>Blokfluit</li>
<li>Het is fijn Muzikaal te zijn (4-6 jaar)</li>
<li>Indiase Slaginstrumenten</li>
<li>Keyboard</li>
<li>Klarinet</li>
<li>Klassiek Gitaar</li>
<li>Koper</li>
<li>Latin Percussion</li>
<li>Piano</li>
<li>Saxofoon</li>
<li>Slagwerk (drums)</li>
<li>Viool</li>
<li>Zang &amp; Stemvorming</li>
</ul>
<p><img loading="lazy" class="aligncenter wp-image-90 size-large" src="https://www.volksmuziekschool.com/media/2021/10/slider01-1024x256.jpg" alt="" width="720" height="180" srcset="https://www.volksmuziekschool.com/media/2021/10/slider01-1024x256.jpg 1024w, https://www.volksmuziekschool.com/media/2021/10/slider01-300x75.jpg 300w, https://www.volksmuziekschool.com/media/2021/10/slider01-768x192.jpg 768w, https://www.volksmuziekschool.com/media/2021/10/slider01.jpg 1200w" sizes="(max-width: 720px) 100vw, 720px" /></p>
					</div><!-- .entry-content -->

		
	</div>

</article><!-- #post-149 -->

	