			
<article id="post-31" class="post-31 page type-page status-publish has-post-thumbnail post">

	<div class="entry-main">

		
		
		<div class="entry-content">
			<div class="page" title="Page 1">
<div class="layoutArea">
<div class="column">
<h2>Post- en Bezoekadres</h2>
<p><a href="https://goo.gl/maps/UN5T9odvYVtfjc6C9" target="_blank" rel="noopener"><img class="wp-image-181 size-medium alignright" title="Kaart" src="https://www.volksmuziekschool.com/media/2021/10/map1-360x307.jpg" alt="Kaart" width="360" height="307" srcset="https://www.volksmuziekschool.com/media/2021/10/map1-360x307.jpg 360w, https://www.volksmuziekschool.com/media/2021/10/map1-1024x874.jpg 1024w, https://www.volksmuziekschool.com/media/2021/10/map1-768x655.jpg 768w, https://www.volksmuziekschool.com/media/2021/10/map1-1536x1311.jpg 1536w, https://www.volksmuziekschool.com/media/2021/10/map1.jpg 1650w" sizes="(max-width: 360px) 100vw, 360px" /></a></p>
<p>Kinderdorpstraat 2-4 (Ingang: Dhoekieweg-Oost),<br />
Paramaribo, Suriname<br />
Tel: (+597) 493040<br />
Mobiel: (+597) 8919153 / (+597) 8741854<br />
E-mail: info@volksmuziekschool.com</p>
<p>(Klik op de kaart om de locatie te bekijken in Google Maps)</p>
</div>
</div>
</div>
					</div><!-- .entry-content -->

		
	</div>

</article><!-- #post-31 -->

			
	