<%=content_for :slider do%>
<!--
<div id="main-slider" data-stretch="true">
			<div class="n2_clear" style="max-width: 100%;"><ss3-force-full-width data-overflow-x="body" data-horizontal-selector="body" style="transform: translate3d(0px, 0px, 0px); width: 720px; opacity: 1;"><div class="n2-section-smartslider fitvidsignore n2_clear" data-ssid="1" tabindex="0" role="region" aria-label="Slider"><div id="n2-ss-1-align" class="n2-ss-align n2-ss-align-visible"><div class="n2-padding"><div id="n2-ss-1" data-creator="Smart Slider 3" data-responsive="fullwidth" class="n2-ss-slider n2-ow n2-has-hover n2-ss-mobilePortrait n2-ss-loaded" data-device-mode="mobilePortrait">
        <div class="n2-ss-slider-1 n2_ss__touch_element n2-ow" style="cursor: grab; touch-action: pan-y;">
            <div class="n2-ss-slider-2 n2-ow">
                                                <div class="n2-ss-slider-3 n2-ow" style="">

                    <div class="n2-ss-slide-backgrounds n2-ow-all"><div class="n2-ss-slide-background" data-public-id="1" data-mode="fill" style="transform: translate3d(0px, 0px, 0px); opacity: 0.160019; z-index: 23;"><div class="n2-ss-slide-background-image" data-blur="0" data-opacity="100" data-x="50" data-y="50" data-alt="" data-title="" style="margin: 0px; padding: 0px;"><picture class="skip-lazy" data-skip-lazy="1" style="filter: blur(0px);"><img src="/media/2021/10/slider01.jpg" alt="" title="" loading="eager" class="skip-lazy" data-skip-lazy="1"></picture></div><div data-color="RGBA(255,255,255,0)" style="background-color: RGBA(255,255,255,0);" class="n2-ss-slide-background-color"></div></div><div class="n2-ss-slide-background" data-public-id="2" data-mode="fill" style="transform: translate3d(0px, 0px, 0px); opacity: 0.839981;"><div class="n2-ss-slide-background-image" data-blur="0" data-opacity="100" data-x="50" data-y="50" data-alt="" data-title="" style="margin: 0px; padding: 0px;"><picture class="skip-lazy" data-skip-lazy="1" style="filter: blur(0px);"><img src="/media/2021/10/slider03.jpg" alt="" title="" loading="eager" class="skip-lazy" data-skip-lazy="1"></picture></div><div data-color="RGBA(255,255,255,0)" style="background-color: RGBA(255,255,255,0);" class="n2-ss-slide-background-color"></div></div><div class="n2-ss-slide-background" data-public-id="3" data-mode="fill" style="transform: translate3d(-100000px, 0px, 0px); opacity: 1;"><div class="n2-ss-slide-background-image" data-blur="0" data-opacity="100" data-x="50" data-y="50" data-alt="" data-title="" style="margin: 0px; padding: 0px;"><picture class="skip-lazy" data-skip-lazy="1" style="filter: blur(0px);"><img src="/media/2021/10/slider02.jpg" alt="" title="" loading="eager" class="skip-lazy" data-skip-lazy="1"></picture></div><div data-color="RGBA(255,255,255,0)" style="background-color: RGBA(255,255,255,0);" class="n2-ss-slide-background-color"></div></div></div>                    <div class="n2-ss-slider-4 n2-ow">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 300" data-related-device="desktopPortrait" class="n2-ow n2-ss-preserve-size n2-ss-preserve-size--slider n2-ss-slide-limiter"></svg><div data-first="1" data-slide-duration="0" data-id="3" data-slide-public-id="1" data-title="slider01" class="n2-ss-slide n2-ow n2-ss-slide-3" style="transform: translate3d(0px, 0px, 0px); opacity: 0.160019; width: 720px; height: 180px; z-index: 23;" aria-hidden="true"><div role="note" class="n2-ss-slide--focus" tabindex="-1">slider01</div><div class="n2-ss-layers-container n2-ss-slide-limiter n2-ow"><div class="n2-ss-layer n2-ow n-uc-HXzHVxyfw3fk" data-sstype="slide" data-pm="default"></div></div></div><div data-slide-duration="0" data-id="5" data-slide-public-id="2" data-title="slider03" class="n2-ss-slide n2-ow n2-ss-slide-5 n2-ss-slide-active" style="transform: translate3d(0px, 0px, 0px); opacity: 0.839981; width: 720px; height: 180px;"><div role="note" class="n2-ss-slide--focus" tabindex="-1">slider03</div><div class="n2-ss-layers-container n2-ss-slide-limiter n2-ow"><div class="n2-ss-layer n2-ow n-uc-DqpmLsn8Hqjf" data-sstype="slide" data-pm="default"></div></div></div><div data-slide-duration="0" data-id="4" data-slide-public-id="3" data-title="slider02" class="n2-ss-slide n2-ow n2-ss-slide-4" aria-hidden="true" style="transform: translate3d(-100000px, 0px, 0px); opacity: 1; width: 720px; height: 180px;"><div role="note" class="n2-ss-slide--focus" tabindex="-1">slider02</div><div class="n2-ss-layers-container n2-ss-slide-limiter n2-ow"><div class="n2-ss-layer n2-ow n-uc-YEq7qt4Xubp1" data-sstype="slide" data-pm="default"></div></div></div>                    </div>

                                    </div>
            </div>
        </div>
        </div><ss3-loader style=""></ss3-loader></div></div><div class="n2_clear"></div></div></ss3-force-full-width></div>		</div>
	
--><%end%>

<article id="post-29" class="post-29 page type-page status-publish post">

	<div class="entry-main">

		
					<header class="entry-header">
													<h1 class="entry-title">Home</h1>
							</header><!-- .entry-header -->
		
		<div class="entry-content">
			<p>Welkom bij de Nationale Volksmuziekschool.</p>
<p>In 2005 werd een aanvang gemaakt met de renovatie van het pand aan de Henck Arronstraat nummer 21, het voormalig Redemptoristen fraterhuis. In 2006 werd het gebouw opgeleverd en op 2 maart 2006 werd de Nationale Volksmuziekschool officieel geopend. De Initiatiefnemers zijn Karin Naarden-Refos van het Mediaboard voor Kinderrechten en Jörgen Raymann van het P.I.E.T.-Fonds (Poor Infant Equality Trust-fund).<br>
Het cursistenbestand was aan het eind van maart 2006 gegroeid naar 300 plus cursisten. Per oktober 2006 was dit aantal bijkans verdubbeld.</p>
<p><img class="alignright wp-image-78 size-medium" src="./application.html_files/logo1-300x227.png" alt="" width="300" height="227" srcset="/media/2021/10/logo1-300x227.png 300w, /media/2021/10/logo1.png 400w" sizes="(max-width: 300px) 100vw, 300px"></p>
<p>Het doel van de Nationale Volksmuziekschool is het stimuleren en bevorderen van de kunsteducatie in Suriname in het algemeen en de muzikale en dansante ontwikkeling van de jeugd in het bijzonder. Met dit doel voor ogen is de Nationale Volksmuziekschool de nieuwe speler op het gebied van muziekonderwijs in Suriname sinds 2006.</p>
<p>De Nationale Volksmuziekschool staat garant voor kwalitatief, deskundig en betaalbaar muziekonderwijs.</p>
<p>Ons motto is:<br>
De Nationale Volksmuziekschool, een muziekschool voor het volk !</p>
<p><img loading="lazy" class="alignnone size-medium wp-image-189" src="./application.html_files/DSC_9208b-360x239.jpg" alt="" width="360" height="239" srcset="/media/2021/10/DSC_9208b-360x239.jpg 360w, /media/2021/10/DSC_9208b-1024x680.jpg 1024w, /media/2021/10/DSC_9208b-768x510.jpg 768w, /media/2021/10/DSC_9208b-1536x1020.jpg 1536w, /media/2021/10/DSC_9208b-272x182.jpg 272w, /media/2021/10/DSC_9208b.jpg 1600w" sizes="(max-width: 360px) 100vw, 360px"></p>
					</div><!-- .entry-content -->

		
	</div>

</article><!-- #post-29 -->
