<html>
<head>
<meta charset="utf-8">
<meta charset="utf-16">
<%=stylesheet_link_tag "blog" %>

<style>
.fa-glass:before {
  content: "\f000";
}
.fa-music:before {
  content: "\1F3B5";
}
.fa-anchor:before {
  content: "\2693";
}
.fa-search:before {
  content: "\f002";
}
.fa-home:before {
  content: "\1F3E0";
}
.fa-info:before {
  content: "\2139";
}
.fa-news:before {
  content: "\1F4F0";

}

.fa-compass:before {
  content: "\1F9ED";

}
</style>
<title>Mesicones</title>
</head>
<body>
<h1>Mes icones</h1>

<p class="fa-anchor">mission et vision</p>
<p class="fa-music">musique</p>
<p class="fa-home">accueil</p>
<p class="fa-info">infos</p>
<p class="fa-news">nouvelles</p>
<p class="fa-compass">contact</p>
</body>
</html>