
			
<article id="post-94" class="post-94 page type-page status-publish post">

	<div class="entry-main">

		
					<header class="entry-header">
													<h1 class="entry-title">Missie en Visie</h1>
							</header><!-- .entry-header -->
		
		<div class="entry-content">
			<p><strong>MISSIE</strong></p>
<p>De Nationale Volksmuziekschool is er om met een divers, klantgericht, deskundig en betaalbaar aanbod muziekeducatie te bevorderen. Door middel van doelgerichte en duurzame samenwerking wordt het muziekonderwijs geprofessionaliseerd en blijvend ontwikkeld.</p>
<p><img class="alignnone size-medium wp-image-188" src="https://www.volksmuziekschool.com/media/2021/10/DSC_9199b-360x239.jpg" alt="" width="360" height="239" srcset="https://www.volksmuziekschool.com/media/2021/10/DSC_9199b-360x239.jpg 360w, https://www.volksmuziekschool.com/media/2021/10/DSC_9199b-1024x680.jpg 1024w, https://www.volksmuziekschool.com/media/2021/10/DSC_9199b-768x510.jpg 768w, https://www.volksmuziekschool.com/media/2021/10/DSC_9199b-1536x1020.jpg 1536w, https://www.volksmuziekschool.com/media/2021/10/DSC_9199b-272x182.jpg 272w, https://www.volksmuziekschool.com/media/2021/10/DSC_9199b.jpg 1600w" sizes="(max-width: 360px) 100vw, 360px" /></p>
<p><strong>VISIE</strong></p>
<p>Musiceren is voor elk individu onontbeerlijk. Muziek is belangrijk voor de algemene vorming van jonge mensen. Het ontdekken van plezier in muziek doet ongetwijfeld verlangen naar verdieping. Het is juist die drang naar verdieping die leidt tot professionalisering.</p>
<p>De Nationale Volksmuziekschool wil cursisten, ongeacht hun leeftijd, sociaal-culturele achtergrond en scholing het plezier van muziekmaken bijbrengen. De Nationale Volksmuziekschool wil met de juiste didactische aanpak bij cursisten een gedragsverandering ontwikkelen, waarmee zij met een positieve attitude naar eigen vermogen met plezier kunnen deelnemen aan het muziekleven.</p>
<p>De muziekschool is zich er ook van bewust dat zij een vroege kennismaking met de wereld van de muziek moet stimuleren om zodoende te bewerkstelligen dat de exploratie van de wereld van muziek later zelf ter hand wordt genomen.</p>
<p><img loading="lazy" class="size-medium wp-image-175 aligncenter" src="https://www.volksmuziekschool.com/media/2021/10/DSC_8981b-252x360.jpg" alt="" width="252" height="360" srcset="https://www.volksmuziekschool.com/media/2021/10/DSC_8981b-252x360.jpg 252w, https://www.volksmuziekschool.com/media/2021/10/DSC_8981b-717x1024.jpg 717w, https://www.volksmuziekschool.com/media/2021/10/DSC_8981b-768x1096.jpg 768w, https://www.volksmuziekschool.com/media/2021/10/DSC_8981b-1076x1536.jpg 1076w, https://www.volksmuziekschool.com/media/2021/10/DSC_8981b.jpg 1121w" sizes="(max-width: 252px) 100vw, 252px" /></p>
<p>De Nationale Volksmuziekschool werkt vraag gestuurd. Klantgerichtheid is essentieel om tijdig op marktveranderingen te kunnen inspelen. Dat betekent goed luisteren naar de wensen van de klant, de cursist, en zoeken naar een evenwicht tussen cursist en docent.</p>
<p>De Nationale Volksmuziekschool opereert in een omgeving met een grote culturele diversiteit en historie. Zij is zich bewust van de betekenis van het muzikale erfgoed en het conserveren daarvan. Door middel van muziekeducatie wordt niet slechts dit doel bereikt, maar wordt tevens gewerkt aan de eigen identiteit alsook het respect voor elke muziekvorm of uiting.</p>
					</div><!-- .entry-content -->

		
	</div>

</article><!-- #post-94 -->

			
	