	
			
<article id="post-27" class="post-27 page type-page status-publish post">

	<div class="entry-main">

		
					<header class="entry-header">
													<h1 class="entry-title">Over Ons</h1>
							</header><!-- .entry-header -->
		
		<div class="entry-content">
			<p>In 2005 werd een aanvang gemaakt met de renovatie van het pand aan de Henck Arronstraat nummer 21, het voormalig Redemptoristen fraterhuis. In 2006 werd het gebouw opgeleverd en op 2 maart 2006 werd de Nationale Volksmuziekschool officieel geopend. De Initiatiefnemers zijn Karin Naarden-Refos van het Mediaboard voor Kinderrechten en Jörgen Raymann van het P.I.E.T.-Fonds (Poor Infant Equality Trust-fund).<br />
Het cursistenbestand was aan het eind van maart 2006 gegroeid naar 300 plus cursisten. Per oktober 2006 was dit aantal bijkans verdubbeld.</p>
<p><img class="wp-image-140 size-medium alignright" src="https://www.volksmuziekschool.com/media/2021/10/leerling-Contrabas-rotated-e1633312329332-200x300.jpg" alt="" width="200" height="300" srcset="https://www.volksmuziekschool.com/media/2021/10/leerling-Contrabas-rotated-e1633312329332-200x300.jpg 200w, https://www.volksmuziekschool.com/media/2021/10/leerling-Contrabas-rotated-e1633312329332.jpg 399w" sizes="(max-width: 200px) 100vw, 200px" /></p>
<p>Het doel van de Nationale Volksmuziekschool is het stimuleren en bevorderen van de kunsteducatie in Suriname in het algemeen en de muzikale en dansante ontwikkeling van de jeugd in het bijzonder. Met dit doel voor ogen is de Nationale Volksmuziekschool de nieuwe speler op het gebied van muziekonderwijs in Suriname sinds 2006.</p>
<p>De Nationale Volksmuziekschool staat garant voor kwalitatief, deskundig en betaalbaar muziekonderwijs.</p>
<p><strong>Ons motto is</strong>:<br />
De Nationale Volksmuziekschool, een muziekschool voor het volk !</p>
					</div><!-- .entry-content -->

		
	</div>

</article><!-- #post-27 -->
