			
<article id="post-222" class="post-222 page type-page status-publish post">

	<div class="entry-main">

		
					<header class="entry-header">
													<h1 class="entry-title">Partners</h1>
							</header><!-- .entry-header -->
		
		<div class="entry-content">
			<p>Become our partner</p>
					</div><!-- .entry-content -->

		
	</div>

</article><!-- #post-222 -->
