// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@font-face { 
  font-family: 'Symbola';
  src: url(font-path('Symbola.ttf'));
  src: url(font-path('Symbola.woff'))  format('woff');
}
@font-face { 
  font-family: 'LastResort';
  src: url(font-path('lastresort.ttf'));
}
